.menu_toggle {
  display: none;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 20px; /* réduit la hauteur totale pour rapprocher les barres */
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.burger_element {
  position: absolute;
  width: 100%;
  height: 3px;
  background: var(--primary);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

/* Barre du haut */
.burger_element:nth-child(1) {
  top: 0;
}

/* Barre du milieu */
.burger_element:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

/* Barre du bas */
.burger_element:nth-child(3) {
  bottom: 0;
}

/* ---- Menu ouvert ---- */
.menu_toggle.menu_anim .burger_element:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu_toggle.menu_anim .burger_element:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.menu_toggle.menu_anim .burger_element:nth-child(3) {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/* Responsive */
@media all and (max-width: 1023px) {
  .menu_toggle {
    display: flex;
  }
}

@media all and (max-width: 370px) {
  .menu_toggle {
    transform: scale(0.9);
  }
}


