.pop-like {
  animation: popScaleLike 0.8s ease-in-out forwards;
}

@keyframes popScaleLike {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.8) rotate(10deg);
  }
  60% {
    transform: scale(1.3) rotate(-10deg);
  }
  100% {
    transform: scale(1);
  }
}

/* Conteneur des éclats */
.spark-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  pointer-events: none;
}

/* COULEURS DES ÉTINCELLES                       */
.sparkle-gold {
  background: #facc15;
}

/* POSITION DE L’EXPLOSION                       */
/* --------------------------------------------- */
.spark-explode-zone {
  position: absolute;
  top: -160px; /* explosion 50px plus haut */
  left: 40%;
  transform: translateX(-50%);
  pointer-events: none;
}

/* ÉTINCELLES                                    */
/* --------------------------------------------- */

.spark {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  /* PENTAGON */
  /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
  opacity: 0;
  animation: sparkExplosion 1.2s linear;
  will-change: transform, opacity;
}

@keyframes sparkExplosion {
  0% {
    transform: translate(0, 0) scale(6);
    opacity: 0.7;
  }

  80% {
    transform: translate(var(--tx), var(--ty)) scale(0.15);
    /* opacity: 0.8; */
    opacity: 0.45;
  }
  100% {
    transform: translate(var(--tx), var(--ty)) scale(0.01);
    opacity: 0;
  }
}

.star-fly {
  animation: starFloatUp 1s ease-in-out;
  will-change: transform, opacity;
}

@keyframes starFloatUp {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(0, -180px) scale(3);
    opacity: 100;
  }
}
